<header>
  <app-header></app-header>
</header>
<main>
  <img src="../../assets/imageObelix.jpg" alt="imageObelix" />
  <div>
    <h1>Qui somme nous?</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget
      commodo diam. Fusce placerat placerat bibendum. Nam vitae nunc eget mauris
      commodo hendrerit. Donec nisi quam, ullamcorper vel arcu non, tempus
      sodales dolor. Duis placerat lobortis arcu quis auctor. Mauris fringilla
      rhoncus euismod. Sed luctus velit augue, nec cursus turpis pretium sit
      amet. Ut auctor justo at mauris faucibus, vel porta tellus auctor. Cras ac
      mi libero. Fusce sed ex mauris. Etiam euismod egestas orci sed mollis.
    </p>
  </div>
</main>
<footer>
  <app-footer></app-footer>
</footer>
